


/*-------------FOOTER---------*/

.footer {
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 200px;
}

.footertext {
    color: white;
    font-size: 1.5vw;
    margin-top: 30px;
    margin-left: 50px;
    padding-bottom: 25px;
    line-height: 25px;
    float: left;
}

.icon-imgs{
    margin-top: 3%;
    width: 40%;
    float: right;
}

.icons {
    width: 7%;
    height: 7%;
    border-radius: 15px;
}